.menuWrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu {
	min-width: 280px;
	border-bottom: none;
	/* display: flex; */
	color: #7D6EE7;
	box-sizing: border-box;
	border-bottom: 1px solid #f0f0f0;
}

.menu>li:hover {
	color: #503be9 !important;
}

.menu>li:hover::after {
	border-bottom: 2px solid #503be9 !important;
}

.ant-menu-item-selected {
	color: #503be9 !important;
}

.ant-menu-item-selected::after {
	border-bottom: 2px solid #503be9 !important;
}