.card_wrapper {
	padding-bottom: 20px;
	max-height: 500px;
}

.card {
	height: 100%;
	border: 5px solid #7c6ee748;
	/* border-radius: 15px; */
	max-width: 400px;
	padding-bottom: 20px;
	overflow: hidden;
	border-radius: 15px;
}

.description {
	display: block;
	display: -webkit-box;
	/* max-width: 400px; */
	/* font-size: 20px; */
	-webkit-line-clamp: 4; /* количество строк */
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 20px;
	height: 85px;
}

.likeWrapper {
	width: 60px;
	height: 30px;
	background-color: #fff;
	position: absolute;
	right: 15px;
	top: 15px;
	border-radius: 25px;
	border: none;
	padding: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 3px;
}

.likeIcon {
	line-height: 30px;
	cursor: pointer;
}

.likeIcon_active > path {
	fill: #df1818;
}

.likeIcon_active > path > path {
	fill: #df1818;
}

.image {
	height: 170px;
	object-fit: cover;
	/* height: 100%; */
	width: 100%;
}

.linkCard {
	color: #7D6EE7 !important;
	position: absolute;
	right: 15px;
	bottom: 15px;
}

.linkCard a {
	color: #7D6EE7 !important;
}

.deleteButton {
	color: #7D6EE7;
	position: absolute;
	left: 15px;
	bottom: 15px;
	cursor: pointer;
}

.titleBlock {
	font-size: 18px;
	font-weight: 900;
	margin-bottom: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color:#7D6EE7;
}